/* General Reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }



.showPasswordToggle{
    cursor: pointer;
    transition: all;
}

.showPasswordToggle:hover{
    transform: scale(1.2);
}